
<div class="listing-card">
<h3 class="listing-name"><%= link_to listing.name, listing_path(listing) %></h3>
<img class="listing-image" src="<%= listing.image %>" alt="<%= listing.name %>">
<p class="listing-info">Guests: <%= listing.guests %></p>
<p class="listing-info">Beds: <%= listing.beds %></p>
<p class="listing-info">Baths: <%= listing.baths %></p>
<p class="listing-info">Price: $<%= listing.price %></p>
</div>
