<div id="new-listing">
  <%= turbo_frame_tag 'new-listing' do %>
    <%= form_with model: @listing, url: listings_path, local: true, multipart: true do |form| %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div class="field">
        <%= form.label :guests %>
        <%= form.number_field :guests %>
      </div>
      <div class="field">
        <%= form.label :beds %>
        <%= form.number_field :beds %>
      </div>
      <div class="field">
        <%= form.label :baths %>
        <%= form.number_field :baths %>
      </div>
      <div class="field">
        <%= form.label :price %>
        <%= form.number_field :price %>
      </div>
      <div class="field">
        <%= form.label :image, 'Upload Image' %>
        <%= form.file_field :image %>
      </div>
      <div class="actions">
        <%= form.submit 'Create Listing' %>
      </div>
    <% end %>
  <% end %>
</div>

